[core]
	editor = hx
[user]
	name = dstroch
	email = d.stroch@gmail.com
[color]
	ui = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
[alias]
	punch = push --force-with-lease

